body{
    background-color: rgb(127, 186, 186);
    background-image: url("wallpapers.jpg");
    max-width: 100%;
    height: auto;
    width:auto;
    text-align: center;
    align-items: center;
    position: absolute;
    
}

.container{
    position: relative;
    box-shadow: 5px 5px 5px 5px grey;
    background: white;
    
    padding: 20px;
    border-radius: 19%;
    

    
}

h2, h3{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button, .reset-btn{
    color: white;
    border: none;
   padding: 16px 50px;
   font-weight: bold;
   border-radius: 10px;
   background-color: darkred;

}
#increment-btn{
    background-color: darkred;
}

