* {
  box-sizing: border-box;

}

body {
  background-image: url("wallpapers.jpg");
  background-size: cover;
  display: flex;
  position: relative;
}

.container {
  background-color: rgb(208, 155, 22);
  width: 350px;
  height: 210px;
  border: 2px solid red;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-1 {
  text-align: center;
}

.entry {
  background-color: rgb(205, 165, 67);
  border: 2px solid red;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: bolder;
  margin-top: 30px;
}

.increment-btn {
  color: white;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: darkred;
}

.reset-btn {
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background-color: darkred;
  padding: 10px 25px;
}

.save-btn {
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 10px;
  background-color: darkred;
}

.count-element {
  font-size: 25px;
}

.increment-btn:hover {
  background-color: green;
  transition: 0.2s;
}

.reset-btn:hover {
  background-color: green;
  transition: 0.2s;
}

.save-btn:hover {
  background-color: green;
  transition: 0.2s;
}

.count-element{
    color: rgb(41, 19, 207);
}